{% extends 'admin.html' %}

{% block content %}
<script>
$(document).ready(function () {
    $('#new').button({
        icons: {
            primary: "ui-icon-plusthick"
        }
    });
    $('a.del').button({
        icons: {
            primary: "ui-icon-minusthick",
        },
        text: false
    });
});
</script>
<a id="new" href="/admin/documents/new">{{('New Document')}}</a>
<br><br>
{% if new %}
    <p class="success"> {{_('You have added a new document') }}</p>
{% endif %}
{% if not documents %}
    <p class="info">{{ _('There are no uploaded documents') }}</p>
{% else %}
    <table border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th class="span-2">{{ _('Actions') }}</th>
            <th class="span-5">{{ _('Title') }}</th>
            <th class="span-7">{{ _('Description') }}</th>
            <th class="span-3 append-2 last">{{ _('File') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for doc in documents %}
        <tr>
            <td><a class="del" href="/admin/documents/delete?id={{ doc.key().id() }}"></a></td>
            <td>{{ doc.title }}</td>
            <td>{{ doc.desc }}</td>
            <td><a href="/admin/documents/get?id={{ doc.key().id() }}">{{ doc.file_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}
