{% extends 'skeleton.html' %}

{% block col1 %}
<div class="sidebar-block">
    <div class="sidebar-inner">
        <h3>Administration</h3>
        <ul class="circles">
        <li><h4><a href="/admin/documents">{{ _('Documents') }}</a></h4></li>
        <li><h4><a href="/admin/events">{{ _('Events') }}</a></h4></li>
        <li><h4><a href="/admin/articles">{{ _('Articles') }}</a></h4></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{%trans%}
<h2>Use the panel on the left to administer the website.</h2>
{%endtrans%}
{% endblock %}
