{% extends 'admin.html' %}

{% block content %}
<script>
$(document).ready(function () {
    $('#new').button({
        icons: {
            primary: "ui-icon-plusthick"
        }
    });
    $('a.del').button({
        icons: {
            primary: "ui-icon-minusthick",
        },
        text: false
    });
});
</script>
<a id="new" href="/admin/articles/new">{{('New Article')}}</a>
<br><br>
{% if new %}
    <p class="success"> {{_('You have added a new article') }}</p>
{% endif %}
{% if not articles %}
    <p class="info">{{ _('There are no articles') }}</p>
{% else %}
    <table border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th class="span-2">{{ _('Actions') }}</th>
            <th class="span-5 append-14 last">{{ _('Title') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td><a class="del" href="/admin/articles/delete?id={{ article.key().id() }}"></a></td>
            <td>{{ article.title }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}

