{% extends 'admin.html' %}

{% block head %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#date").datepicker({
        showOn: "button",
        buttonImage: "/static/images/calendar.gif",
        buttonImageOnly: true
    });
    $('#ui-datepicker-div').css('clip', 'auto');
});
</script>
<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
{% endblock %}


{% block content %}
<form action="/admin/events/new" method="post">
<fieldset>
    <p>
        <label class="span-19 last" for="date">Date (mm/dd/yyyy)</label>
        <input type="text" class="date-input" name="date" id="date">
    </p>
    <p>
        <label class="span-19 last" for="title">Event title</label>
        <input type="text" name="title" id="title">
    <p>
        <label class="span-19 last" for="desc">Event description in English</label>
        <div class="clear"></div>
        <textarea class="editor" name="desc" id="desc"></textarea>
        <div class="clear"></div>
    </p>
    <p>
        <label class="span-19 last" for="desc">Event description in Russian</label>
        <div class="clear"></div>
        <textarea class="editor" name="desc_ru" id="desc_ru"></textarea>
        <div class="clear"></div>
    </p>
</fieldset>
<input type="submit" value="{{ _('Submit') }}">
</form>
{% endblock %}
