{% extends 'skeleton.html' %}

{% block content %}
{% if not articles %}
    <p class="info">{{ _('There are no articles') }}</p>
{% else %}
    <table border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th class="span-5 append-14 last">{{ _('Title') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td><a href="/news/show?id={{ article.key().id() }}">{{ article.title }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% endblock %}
