{% extends 'asia.html' %}

{% block above_content %}
<ul class="page_links">
    <li><a href="#partner">{{ _('Drawing up a Partnership Agreement') }}</a></li>
    <li><a href="#assessment">{{ _('Assessment of the BIOs capacity to influence policies in favour of SMEs in the target countries') }}</a></li>
    <li><a href="#network">{{('Establishing networking facilities')}}</a></li>
</ul>
{% endblock %}

{% block content %}
<h2 id="partner">{{ _('Drawing up a Partnership Agreement') }}</h2>
<p>
{% trans %}
The purpose of setting up the partnerships between the EU partners and the Central
Asian target countries (i.e. Kazakhstan, Kyrgyzstan, Uzbekistan) is to ensure clear
allocation of responsibilities, best coordination of activities, exchange of experience,
transfer of know-how in the T&C supply chain, as well as to improve international
collaboration.
{% endtrans %}
</p>
<p>
{% trans %}
To this end, our Consortium intents to collaborate with each member of the future
partnership and draw up an agreement defining the technical and financial rights and
obligations of each partnership member, including (a) the establishment of a
Coordination Committee of the Project (CCP) consisting of two representatives of
each target country, one responsible for the technical and one for the financial issues
to represent the BIOs of the target countries throughout the whole project lifetime, (b)
the detailed and clear allocation of responsibilities for implementing all the activities
envisaged in this proposal, and (c) a balanced and detailed distribution of costs.
{% endtrans %}
</p>
<p>
{% trans %}
The Agreement will be drafted and distributed to all partners for discussion and
comments. When all elements are agreed, the final text will be signed by all partners
and will consist the official reference document for the project implementation,
monitoring and evaluation during the lifetime of the project.
{% endtrans %}
</p>

<h2 id="assessment">{{ _('Assessment of the BIOs capacity to influence policies in favour
of SMEs in the target countries') }}</h2>
<p>
{% trans %}
To assess the BIOs’ potential to deliver appropriate business services to SMEs, our
project (in cooperation with external experts) will cooperate with the three target
countries’ Working Groups and embark into a multifaceted review of the current
situation, covering:
{% endtrans %}
</p>
<ul class="presentation">
    <li>{{ _('Status review') }}</li>
        <p>{%trans%}A review of the current status of the regional Central Asian T&C Industry, including
        existing regulations and legislation, access to finance, access to new markets,
        access to new technologies, marketing, and branding promotion{% endtrans %}</p>
    <li>{{_('Regional Studies')}}</li>
        <p>{%trans%}Regional studies concerning the current situation on T&C in each of the target
        countries{%endtrans%}</p>
    <li>{{_('Impact Analysis')}}</li>
        <p>{%trans%}Analysis of the impact of similar European Initiatives to the target countries{% endtrans %}</p>
    <li>{{_('Existing BIOs')}}</li>
        <p>{%trans%}The existing BIOs in each of the target countries and their potential in covering the
        objectives of the project{%endtrans%}</p>
</ul>

<h2 id="network">{{('Establishing networking facilities')}}</h2>
<p>
{%trans%}Work under this activity includes the identification of the necessary information links
in the Textile and Clothing sector. This will be carried out along the following lines{%endtrans%}:
    <ol>
        <li>{{('Analysis of infrastructure for common action')}}</li>
        <li>{{('Identification of trends in the sector by target country')}}</li>
        <li>{{('Definition of current status of knowledge in the textile/clothing sector')}}</li>
        <li>{{('Blueprint of services to be offered electronically by both the EU and the target countries BIOs')}}</li>
    </ol>
</p>

<p>
{%trans%}Based on the results of the above identification, the project will subcontract the
creation of a website that will inform the stakeholders on potential investment and
business opportunities, including databases of suppliers, subcontractors, retailers,
potential contractors, local partners, as well as information on offer/demand
availability of services, regulatory information etc.{%endtrans%}
</p>

<p>
{%trans%}The website will link with Activity 3.2 below and will be developed taking into account
the needs for data performance, communication of information between partners and
BIOs and external users. It will be used for communication of all project activities and
provide information to relevant actors. Our Project will use the internal communication
groups to provide daily advice from EU partners to the target countries’ BIOs and
through them to local SMEs. The internal system will be used for dissemination of
reports and minutes of meetings, access rights will be designed as part of the website.
The website will be functioning as a Monitoring Instrument and, therefore, it shall be
attractive and promoting the main goal of BIOs, towards reinforcing their role and
competence to support the SMEs and to influence policies in favour of micro and small
scale companies.{%endtrans%}
</p>

<p>
{%trans%}Following the establishment of the website, our Project will consequently proceed to
establish the appropriate collaborations of network actors that will test solutions,
which are likely to leverage the creation of joint ventures and partnerships between
European and the targeted Central Asian countries’ BIOs.{%endtrans%}
</p>


{% endblock %}
