{% extends 'asia.html' %}

{% block above_content %}
<ul class="page_links">
    <li><a href="#designing">{{ _('Designing and Implementing an Action Plan for a Communication Strategy')}}</a></li>
    <li><a href="#development">{{ _('Development and distribution of international and analytical dissemination material')}}</a></li>
    <li><a href="#organising">{{_('Organisation of a brokerage event for the Textile/Clothing sector in Europe')}}</a></li>
    <li><a href="#monitoring">{{_('Monitoring and Follow up activities')}}</a></li>
</ul>
{% endblock %}
{% block content %}
<h2 id="designing">{{ _('Designing and Implementing an Action Plan for a Communication Strategy')}}</h2>

<p>{%trans%}We consider this activity as very crucial for achieving the purpose of the present
Project. The underlying concept of the envisaged campaign will be to mobilise wider
stakeholders, social partners, final beneficiaries and general public at the regional and
national level in terms of effectively lobbying and advocating in favour of SMEs.{%endtrans%}</p>

<p>{%trans%}Our Project will undertake consultation meetings with the Working Groups with the
aim to develop full details concerning the campaigns’ methodology and approach. A
final outcome of the above consultations will be a written agreement on the joint
campaign activities and related outputs, including the basic action plan.
The action plan will include a step by step and continuous procedure, divided into
three stages:{%endtrans%}</p>

<ol class="items">
<li>{%trans%}The informative stage, aiming at developing a primary general context on the
need to promote the development of the private sector by encouraging the growth
and expansion of small and medium enterprises. To this end, the following means
shall be used:{%endtrans%}</li>
    <ol class="items">
    <li>{%trans%}Seminars targeting the BIOs of the target countries (Train–of-trainers activities)
    and exchange of visits of the BIOs to the European Partner countries (On-the-job
    training activities){%endtrans%}</li>
    <li>{%trans%}Workshops open to the SMEs and the public sector to increase awareness on C&T
    sector{%endtrans%}</li>
    <li>{%trans%}Training to the SMEs and the local BIOs of the target countries{%endtrans%}</li>
    <li>{%trans%}Brokerage events and Conference{%endtrans%}</li>
    <li>{%trans%}Dissemination material{%endtrans%}</li>
    </ol>
<li>{%trans%}The persuasion stage, aiming at advocating the benefits out of promoting the
growth and expansion of the SMEs for the business community and the society at
large. To this end, the campaign will provide specific contributions on the usefulness
of EU –Central Asia collaboration mainly targeting towards using electronic means
(internet, social networks), in order to promote the beneficial character of the present
Project initiatives.{%endtrans%}</li>
<li>{%trans%}The mobilisation stage, aiming at further utilisation of the key project results. To
achieve mobilisation, 4 panel discussions for representatives of BIOs, SMEs and
general public shall be organised within the Workshops (see Activity 2.3) in each of
the target countries. In each panel discussion a moderator will be engaged. The panel
discussions will focus on:{%endtrans%}</li>
    <ol class="items">
    <li>{%trans%}possible ways of influencing policies in favour of the SMEs{%endtrans%}</li>
    <li>{%trans%}suggestions on how to reinforce the role and competence of BIOs{%endtrans%}</li>
    <li>{%trans%}usage of new approaches related to encouraging the growth and expansion of the SMEs in the target countries and best practice examples{%endtrans%}</li>
    </ol>
</ol>

<h2 id="development">{{_('Development and distribution of international and analytical dissemination material')}}</h2>

<p>{%trans%}Work under this activity spans across two levels: Proactive awareness creation about
the European T&C sector programmes on one hand, and motivation to project partners
and other interested parties for collaboration on the other hand.{%endtrans%}</p>
<span style="text-decoration:underline;">{{_('Specific dissemination activities')}}</span>
<ol class="items">
<li>{%trans%}The website prepared during the execution of Activity 1.3 above will be used to
provide access to internal and external sources, as it will be organised through a
specifically designed reference model. This will be an effective Web-Based Working
Space where information and knowledge can be shared between experts. This
interactive collaboration environment will be used as a focal point for the
dissemination activities. Apart from participation in awareness events about SMEs
and presentations at seminars and workshops, this postal will be the most powerful
tool for creating investment opportunities and awareness regarding project ideas
and results.{%endtrans%}</li>
<li>An Internet discussion group will also be created within the website, enabling direct
   communication among the wider Textile / Clothing Community. The consortium will
  make available such a discussion group, either by providing a copy of the
 application or by establishing a link to become available to all partners.</li>
<li>{%trans%}The consortium plans to create a wide “User Group” by inviting interested
stakeholders, to collaborate and interact within the framework of the project. Such
stakeholders include Chambers of Commerce, SMEs, export promotion
organisations, Ministries, etc.{%endtrans%}</li>
<li>{%trans%}The Consortium also plans to create a Roadmap for local SMEs, including a
business terminology handbook and an export promotion and investment
attraction handbook to facilitate the communication among stakeholders and
offer them valuable guide for their work.{%endtrans%}</li>
</ol>

<h2 id="organising">Organisation of a brokerage event for the Textile/Clothing sector in Europe</h2>

<p>{%trans%}To enable a face-to-face meeting between potential buyers and customers in the
sector, our Project will organise a brokerage event in Europe, together with the final
conference of the project.{%endtrans%}</p>

<p>{%trans%}Overall, the aim of this Activity will be to establish a permanent structure that will act
as a brokerage event bringing together the textile / clothing sector and the newest
developments in the T&C areas in Europe and internationally. The consortium believes
that the organisation of such an event every year can provide great benefits to the
textile / clothing sector and can ensure the sustainability of the whole attempt.
Work under this Activity involves the following:{%endtrans%}</p>

<ol class="items">
<li>{%trans%}Set up an Organising Committee and a Secretariat to coordinate the preparation of
the brokerage event for the textile / clothing sector in each of the target countries
Identification of Participants-Invitation-Advertisement{%endtrans%}</li>
<li>{%trans%}Invite attendees and provide with adequate input early enough to assure an active
participation{%endtrans%}</li>
<li>{{_('Logistics')}}</li>
<li>{{_('Identification of Speakers')}}</li>
<li>{{_('Prepare the business meetings')}}</li>
</ol>

<h2 id="monitoring">Monitoring and Follow up activities</h2>

<p>{%trans%}To ensure sustainability and ownership of project results, it is of critical importance to
ensure a close monitoring and follow up of the activities envisaged in the project
implementation. To this end, the Project will produce:{%endtrans%}</p>

<ul class="presentation">
    <li>{{_('Inception report')}}</li>
    <p>{%trans%}Inception report within 4 weeks from the beginning of the project containing
    the following: (i) clearly defined the objectives of the technical assistance, (ii) an
    account of any changes agreed with the main Project Partner that were not specified
    in the Guidelines, (iii) a detailed work plan and time schedule for the duration of the
    project, (iv) an overall plan of action for the whole duration of the project (v) a
    detailed description of the content of the individual components of the project and
    the planned resources utilisation and (vi) a list of incidental costs analysed in detail.
    The inception report coincides with Deliverable 1: Partnership Agreement (Activity
    1.1).{%endtrans%}</p>
    <li>{{_('Monthly internal one page reports')}}</li>
    <p>{%trans%}Monthly internal one page reports prepared by the CCP in order to give (i)
    the follow up of the activities undertaken, (ii) a work plan for the following reporting
    month, and (iii) information of any problem encountered during the implementation
    of the activities.{%endtrans%}</p>
    <li>{{_('Six-monthly Interim reports')}}</li>
    <p>{%trans%}Six-monthly Interim reports, prepared and submitted every six months. The
    Interim reports will include: (i) a comparison of achievements against planned
    activities and overall progress against the initial timetable, (ii) a summary of the
    financial status of the implementation of the project, (iii) including a detailed
    description of resources utilised against activities undertaken, and (iv) a review of
    problems encountered during the implementation of the project activities and the
    corrective measures taken.{%endtrans%}</p>
    <li>{{_('Final report')}}</li>
    <p>{%trans%}Final report, to be submitted at the end of the project activities. The draft final
    report is to be submitted one month before the end of the period of the
    implementation of the tasks. The final report will contain: (i) a complete overview of
    all activities implemented during the project, (ii) a summary of outputs, and the
    identification of any major problems, which may have arisen during the performance
    of the Contract, and (iii) an assessment of the outcomes of the project measured
    against the stated project objectives and the indicators of achievement.{%endtrans%}</p>
</ul>


{% endblock %}
