{% extends 'skeleton.html' %}

{% block content %}
<ul class="presentation">
    <img src="/static/images/fashion/logo1.png">
    <li>Hellenic Clothing Industry Association</li>
    <p>The Hellenic Clothing Industry Association (HCIA) is a non profit industrial association
    established in Athens in 1962. It represents Greek companies from all sub-sectors of
    the clothing industry (men, women and children’s clothing, underwear, swimwear,
    shirts and fashion accessories).</p>
    <blockquote>
    51, Ermou street, Athens 10563, Greece
    info@skee.gr
    Tel: +30 210 3234811
    Fax: +30 210 3239159
    www.greekfashion.gr
    Contact Person: Dr. Takis Lybereas
    </blockquote>
    
    <hr>
    <img src="/static/images/fashion/logo2.png">
    <li>International Apparel Federation</li>
    <p>IAF is a politically neutral global association, open to entrepreneurs and executives
    from the apparel chain worldwide. Its membership includes national clothing
    associations and companies whose core business is sourcing, designing, development,
    manufacturing, distribution, and retailing of apparel products. In addition IAF has, as
    associate members, educational institutions and companies that supply textiles,
    accessories, equipment, technology, and services to the apparel industry. The IAF is a
    worldwide knowledge network that collects and disseminates information, statistical,
    benchmarking and otherwise, on developments in apparel design, manufacturing,
    distribution, sourcing, trade and technology. IAF is organising promotional events
    worldwide.</p>
    <blockquote>
    P.O. Box 428, 3700 AK Zeist, The Netherlands
    Tel: +31 30 2320900
    Fax: +31 30 2320990
    barberi@modint.nl
    www.iafnet.com
    Contact Person: Mr. Antonio Barberi Ettaro
    </blockquote>
    
    <hr>
    <img src="/static/images/fashion/logo3.png">
    <li>Bulgarian Chamber of Commerce and Industry</li>
    <p>The Bulgarian Chamber of Commerce and Industry (BCCI) is established in 1895 and is
    the leading employers’ association in Bulgaria – comprising over 52000 members. It is
    an independent, non-profit NGO that supports, promotes and represents the interests
    of its members and contributes to the development of international economic
    cooperation. BCCI is based on principles of voluntary membership, autonomy and self-
    financing and seeks to establish ethical and socially responsible relationships in
    business.</p>
    <blockquote>
    9 Iskar Str., 1058 Sofia, Bulgaria
    Tel: +359 2 8117553
    Fax: +359 2 9873209
    projects1@bcci.bg ; mtancheva@bcci.bg
    www.bcci.bg
    Contact Person: Mr. Atanas Naydenov and Mariana Tancheva
    </blockquote>
    
    <hr>
    <img src="/static/images/fashion/logo4.png">
    <li>Tashkent Regional Department of Chamber of Commerce and Industry of
    Uzbekistan</li>
    <p>According to the Decree of the President of the Republic of Uzbekistan from July, 7,
    2004 “On creation of Chamber of Commerce and Industry of Uzbekistan”, the
    Chamber of commodity producers and entrepreneurs of Uzbekistan has stopped its
    activity and the Chamber of Commerce and Industry of Uzbekistan (CCIU) became its
    assignee. The main purposes of creation of CCIU were the provision of favorable
    conditions for further development of private business, legal protection of business,
    assistance in establishing of business links of businessmen of Uzbekistan with foreign
    partners, promotion of domestic goods and services to foreign markets, active
    attraction of foreign investments.</p>
    <blockquote>
    100070, 68 Aviasozlar – 4 str. Tashkent, Uzbekistan
    Tel: +99871 1509101
    Fax: +99871 1509101
    d.temirov@gmail.com
    www.chamber.uz
    Contact Person: Mr. Dilshodkhuja Temirov
    </blockquote>
    
    <hr>
    <img src="/static/images/fashion/logo5.png">
    <li>Union of Textile Enterprises</li>
    <p>Association “Soyuztextile” represents the interests of 30 enterprises and individual
    entrepreneurs of garment industry, which employ about 2.500 people.
    "Soyuztextile" is a non-profit organization that unites enterprises of light industry in
    order to create favourable conditions for development of the sector in the Kyrgyz
    market and entering international markets, was established at the initiative of local
    entrepreneurs and the German Organisation for Technical Cooperation (GTZ) in the
    year 2000.</p>
    <blockquote>
    Kyrgyzstan Bishkek Chyi 207 room 512
    Tel: + 996 312 66 33 23
    Fax: +996 312 66 34 28
    souztextil@mail.ru
    Contact Person: Mrs. Maria Kapustina
    </blockquote>
    
    <hr>
    <img src="/static/images/fashion/logo6.png">
    <li>Association of Light Industry Enterprises of the Republic of Kazakhstan</li>
    <p>Association of Light Industry Enterprises of the Republic of Kazakhstan is of interest of
    enterprises of light industry which produce different kind of consumer goods :fabric,
    clothes, knit work, shoes, and fur.</p>
    </ul>
    <blockquote>
    Almaty, 050012 Republic of Kazakhstan, 100 Tole Bi st., Office 109
    Tel: + (727) 292 37 61
    Fax: + (727) 292 37 61
    aplp@atu.kz
    Contact Person: Mrs. Lyubov Khudova
    </blockquote>


{% endblock %}
