{% extends 'skeleton.html' %}

{% block content %}
<p>
{% trans %}
Central Asia Invest (started in 2008) is an initiative within the European
Commission’s overall strategy to support EU-Asian co-operation, designed to establish
and consolidate bonds between European and Central Asian Business Intermediary
Organizations (BIOs) in order to facilitate the transition towards a market economy.
By developing Business Organizations, Central Asia Invest also aims at encouraging
the establishment and/or internationalisation of existing Small and Medium Enterprises
(SMEs).
{% endtrans %}
</p>
{% trans %}

<p>
Asia is a crucial partner for the EU, politically and economically and there is important
scope for promoting the development of private sector by encouraging the growth and
expansion of the small and medium enterprises. On the other hand, most Central
Asian SMEs have fragmented knowledge of business sectoral knowledge, in particular
of strategic marketing, appropriate marketing-mixes, access to information and
capital. In conjunction with the sometimes low-level vocational education, these SMEs
face difficulties to produce competitive quality and at the same time they remain
geographically restricted.
{% endtrans %}
</p>

<p>
{% trans %}
In this context, Business Intermediary Organisations can play a key role in the reform
process towards a market economy, contributing to civil society development and to
the creation of new employment opportunities and income. By improving their
capacity to assist small businesses and to create bridges between the governments
and the private sector, they will contribute to the eradication of poverty and to the
gradual democratic and economic transition of these countries. This is why the Central
Asia Invest programme supports Business Intermediary Organisations.
{% endtrans %}
</p>

<p>
{% trans %}
The ultimate scope of the present project is to achieve productive entrepreneurship,
which is crucial to local economic growth, employment creation, internationalisation
and innovation. Improving entrepreneurial activity, through internationalisation of the
textile / clothing / fashion sector, is expected to create jobs, drive efficient resource
use and accelerate the process of generating, diffusing and applying innovative ideas
and concepts, thus providing concrete and desired solutions for the Project targeted
beneficiaries and the society at large.
{% endtrans %}
</p>

<p>
{% trans %}
To address the above challenges, the present Project focuses on developing specific
mechanisms that will provide legal and institutional capacity building to the Central
Asia Business Intermediary Organisations (BIOs) and SMEs, towards strengthening
links between themselves, but also with the EU, encourage new flows of investment
for the Central Asia Countries and create a public-private dialogue for strengthening
the integration of SMEs into the networking mechanisms, thus aiming at generally
improving the business environment.
{% endtrans %}
</p>

{% endblock %}
