<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Eurasia Fashion{% endblock %}</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link href='http://fonts.googleapis.com/css?family=Mako' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
<link rel="stylesheet" href="/static/css/fashion.css" type="text/css">

<link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
{% block head %}{% endblock %}
</head>
<body>
<div class="container">
<div class="span-24 last" id="header">
    <p class="span-24 last" id="logo_text"><img id="header_logo" src="/static/images/fashion/logo.png" alt="Eurasia Fashion">Eurasia's fashion industry</p>
    <div class="prepend-5 span-19 last hmenu">
        {% block menu %}
        <ul>
            <li><a href="/">{{ _('Homepage') }}</a></li>
            <li><a href="/asia">{{ _('Central Asia Invest') }}</a></li>
            <li><a href="/news">{{ _('News') }}</a></li>
            <li><a href="/events">{{ _('Events') }}</a></li>
            <li><a href="#">{{ _('Partners Profiles') }}</a></li>
            <li><a href="#">{{ _('Contacts') }}</a></li>
        </ul>
        {% endblock %}
    </div>
    <div class="prepend-5 span-19 last hmenu">
        {% block submenu %}
        {% endblock %}
    </div>
    {% block header_line %}{% endblock %}
</div>
<hr>
<div class="span-5" id="col1">
    {% block col1 %}
    <div class="sidebar-block">
        <div class="sidebar-inner">
        {% if articles %}
            <h3>Latest News</h3>
            {% for article in articles %}
                <h4><a href="/news/show?id={{ article.key().id() }}">{{ article.title }}</a></h4>
                <p class="article-side-preview span-5 last">{{ article.article }}</p>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="sidebar-block additional">
        <div class="sidebar-inner">
        {% if events %}
            <h3>Upcoming Events</h3>
            {% for event in events %}
                <h4><a href="/events/show?id={[ article.key().id() }}">{{ event.date.strftime('%d-%m-%Y') }}</a></h4>
                <span class="event-side-preview span-5 last">{{ event.title }}</span>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endblock %}
</div>
<div class="span-19 last" id="content">
    {% block above_content %}{% endblock %}
    {% block content %}
    {% endblock %}
</div>
<hr>
<div class="span-24 last" id="footer">
    <div class="span-24 last">The contents of this website reflect the views of the author.
    The European Commission is not responsible for any use that may be made thereof.</div>
    <div class="span-24 last">EUROPEAN UNION, European Social Fund, Article 6, Innovative Measures.</div>
    <div class="prepend-11 span-2 append-11 last"><img src="/static/images/fashion/eu.png" alt="Euriopean Union"></div>
</div>
</div>
</body>
