{% set style_square = "-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 0px;-webkit-border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;" %}
{% set style_circle = "-moz-border-radius-topright: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-top-right-radius: 10px;-webkit-border-bottom-right-radius: 10px;" %}
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Eurasia Fashion{% endblock %}</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
<link rel="stylesheet" href="/static/css/fashion.css" type="text/css">
<link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css">
<link rel="stylesheet" href="/static/css/nivo-slider.css" type="text/css" media="screen" />

<!--<link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>-->
<!--<link href='http://fonts.googleapis.com/css?family=EB+Garamond&subset=cyrillic,latin&v1' rel='stylesheet' type='text/css'>-->
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic,latin&v1' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/fashion.js"></script>
<script src="/static/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>

{% block head %}{% endblock %}
</head>
<body>
<div class="container">
<div class="span-24 last" id="header">
    <div id="head-wow" class="span-24">
        <div class="prepend-1 span-6">
                <img style="margin-top:18px;" src="/static/images/fashion/logo-ef.png" alt="Eurasia Fashion">
        </div>
        <div class="prepend-1 span-16 last" style="float:left;width:606px;">
            <div class="wrap_black">
                <div id="slider">
                <img src="/static/images/fashion/top3.png">
                <img style="display:none;" src="/static/images/fashion/top4.png">
                <img style="display:none;" src="/static/images/fashion/top5.png">
                </div>
            </div>
        </div>
    </div>
    <div id="menu" style="position:relative;" class="span-24 last">
        {% block menu %}
        <ul class="span-24 last">
            <li><a href="/">Homepage</a></li>
            <li><a href="/asia">Central Asia Invest</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/partners">Partners Profiles</a></li>
            <li style="float:right;"><a id="ru" style="{{style_circle}}display:inline;float:right;" href="/set_lang?lang=ru_RU">RU</a></li>
            <li style="float:right;"><a id="en"  style="{{style_square}}display:inline;float:right;"  href="/set_lang?lang=en_US">EN</a></li>
        </ul>
        {% endblock %}
    </div>
    <div class="prepend-5 span-19 last hmenu">
        {% block submenu %}
        {% endblock %}
    </div>
    {% block header_line %}{% endblock %}
</div>
<div class="span-6" id="col1">
    {% block col1 %}
    <div class="sidebar-block">
        <div class="sidebar-inner">
        {% if articles %}
            <h3>Latest News</h3>
            <ul class="circles">
                {% for article in articles %}
                <li><h4><a href="/news/show?id={{ article.key().id() }}">{{ article.title }}</a></h4></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>{{_('No recent articles')}}</h3>
        {% endif %}
        </div>
    </div>
    <div class="sidebar-block additional">
        <div class="sidebar-inner">
        {% if events %}
            <h3>Upcoming Events</h3>
            <div class="wrapper">
                {% for event in events %}
                    <h4 style="margin-bottom:0;"><a href="/event/show?id={{ event.key().id() }}">{{ event.date.strftime('%d/%m/%Y') }}</a></h4>
                    <span class="event-side-preview span-5 last">{{ event.title }}</span>
                    <hr>
                {% endfor %}
            </div>
        {% else %}
            <h3>{{_('No recent events')}}</h3>
        {% endif %}
        </div>
    </div>
    {% endblock %}
    <div class="additional sidebar-block">
        <div class="sidebar-inner">
            <img src="/static/images/fashion/logo1.png">
            <img src="/static/images/fashion/logo2.png">
            <img src="/static/images/fashion/logo3.png">
            <img src="/static/images/fashion/logo4.png">
            <img src="/static/images/fashion/logo5.png">
            
        </div>
    </div>
</div>
<div class="span-17 last" id="content">
    {% block above_content %}{% endblock %}
    {% block content %}
    {% endblock %}
</div>
<hr>
<div class="prepend-2 span-22 last" id="footer">
    <div class="span-2"><img src="/static/images/fashion/eu.png" alt="Euriopean Union"></div>
    <div class="span-20 last">The contents of this website reflect the views of the author.
    The European Commission is not responsible for any use that may be made thereof.
    <br>
    EUROPEAN UNION, European Social Fund, Article 6, Innovative Measures.</div>
</div>
</div>
</body>
